.popin_fade { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background: #FCFAEA;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0.85;
    filter:alpha(opacity=85);
    z-index: 900;
}

.popin_main {
    display: none;
    background: #fff;
    padding: 20px;
    border: 4px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 901;

    /*--CSS3 Box Shadows--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.popin_close {
    background-image: url(../images/close.png);
    position: fixed;
    left: -100px;
    top: -100px;
    width: 36px;
    height: 36px;
    z-index: 1000;
    display: none;
    cursor: pointer;
}

.popin_loadinglayer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}