<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="/static/js/popin.js"></script>
  <link rel="stylesheet" href="/static/css/popin.css" type="text/css" />

</head>
<body>
Index

<br><br>
<a href="Javascript: popin('/page1');">Page1</a>
<br><br>
<a href="Javascript: popin().open('/page1');">Page1 (open)</a>
<br><br>
<a href="Javascript: popin().open('/page2');">Page2 (will redirect to page 1)</a>
<br><br>
<a href="Javascript: popin('/page3');">Page3</a>
<br><br>
<a href="Javascript: popin('/page4');">Page4 (height & scroll test)</a>
<br><br>
<a href="Javascript: popin('/pageStandard');">PageStandard (decorator test)</a>
<br><br>
<a href="Javascript: popin('/pageStandardRedirect');">PageStandardRedirect (decorator test, will redirecto to page 1)</a>
<br><br>
<a href="Javascript: popin('/pageForm');">PageForm (form submit test)</a>


<!-- scroll test -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br><br>
<a href="Javascript: popin().open('/page1');">Page1 (open)</a>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>